html{
    background: #e3e3e3;
}

body {

    background: #ffffff;  
    margin: 20;
    padding: 20;
    color: #242424;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Home {
    display: flex;
}
div{
    margin: 30px;
    padding: 15px;
    font-size: 20pt;
}
.Contact{
    font-size: 30pt;
    text-align: center;

}
input{
    width: 40%;
    height: 25pt;
    border-radius: 25px;
}
h1{
    font-size: 3em;
    padding-left: 10px;
    color: #fff;
}
h2{
    font-size:35pt;
    text-align: center;
    color: #242424;
}
h3{
    font-size: 20px;
    color: #fff;
}
p{
    line-height: 1.4em;
}
.AutDat{
    white-space: pre-wrap;
    text-align: center;
}

header{
    padding-left: 5px;
    display: flex;
    width: 100%;
    background-color: #83eaf8;
    line-height: .8cm;
    position: sticky;
    top: 0;
    z-index: 2;
    
}
nav{
    width: 25%;
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
    font-size: large;
    
}
table{
    text-align: center;
}